@import url("https://fonts.google.com/share?selection.family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Playfair+Display:ital,wght@0,400..900;1,400..900");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
}

.dark {
  --background: #1f1f1f;
  --foreground: #ffffff;
}


@theme inline {
  --font-playfair: "Playfair Display", serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /*Paleta de colores Digenio*/
  --color-primary-1: #ff0024;
  --color-primary-2: #ff8080;
  --color-primary-3: #ffd1d1;
  --color-primary-4:#FFEAEA;

  --color-alert-red: #e74c3c;
  --color-alert-yellow: #f3cb26;
  --color-alert-green: #1abc9c;

  --color-neutral-1:#1f1f1f;
  --color-neutral-2:#3a3a3a;
  --color-neutral-3:#DBD9D9;
  --color-neutral-4:#f6f6f6;
  --color-neutral-5:#ffffff;
  
  
  --shadow-header: 0px 1px 1px 0px #00000040;
  --shadow-footer: 0px -1px 1px 0px #00000040;
  --shadow-sidebar: 1px 0px 1px 0px #00000040;
  --shadow-input: 0px 0px 2px 0px #00000040;
  --shadow-toggle: 0px 0px 2px 0px #00000040;

  --shadow-button-home: 0px 0px 6px 0px #00000040;

}
